@{
    ViewBag.Title = "Корзина";
}

@using InternetShop.Models.Shop.Entities
@model InternetShop.Models.Shop.Cart
<table>
    <tr>
        <td>Товар</td>
        <td>Количество</td>
        <td>Стоимость</td>
    </tr>

    @foreach (var line in Model.OrderLines)
    { 
        <tr>
            <td>@line.Product.Name</td>
            <td>@line.Kolich</td>
            <td>@line.Product.Price * @line.Kolich</td>
        </tr>

    }
    <td><b>Сумма</b></td>
    <td></td>
    <td><b>123</b></td>
</table>

@using (Html.BeginForm("SendCart", "Products"))
{
    <p>Имя:    @Html.TextBox("name", "", new { style = "width: 30px; border: 1px solid #808080; " })</p> 
    <p>Фамилия:    @Html.TextBox("surname", "", new { style = "width: 30px; border: 1px solid #808080; " })</p> 
    <p>Телефон:    @Html.TextBox("phone", "", new { style = "width: 30px; border: 1px solid #808080; " })</p>    
    @Html.Hidden("cart", Model);
    <input type="submit" value="Заказать" class="ui-button" />
}